---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

---

<Hamburger />
<ThemeIcon />
<div class="nav-links">
    <a href="/">Главная</a>
    <a href="/about/">О сайте</a>
    <a href="/blog/">Блог</a>
    <a href="/tags/">Tags</a>
  </div>